<%- include('../partials/header') %>

<h2>Add New Flight</h2>
<form action="/flights" method="POST">
  <label>Airline
    <select name="airline">
      <option value="American">American</option>
      <option value="Southwest">Southwest</option>
      <option value="United">United</option>
    </select>
  </label>
  <label>Airport
    <select name="airport">
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN" selected>DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
  </label>
  <label>Flight Number
    <input type="text" name="flightNo">
  </label>
  <label>Departs
    <input type="datetime-local" name="departs">
  </label>
  <button type="submit">Submit</button>
</form>

<%- include('../partials/footer') %>